# Project Virtual Environment
venv/

# Compiled python code and test data
*.pyc
__pycache__/
.pytest_cache/
.coverage
htmlcov/
dist/
build/
*.egg-info/

# Database Instance
instance/

# vs Code project specifications
.vscode
